NG_APP_DOMAIN=<localhost>
NG_APP_PRISMIC_REPOSITORY_NAME=<repository-name>
NG_APP_PRISMIC_API_ENDPOINT=https://<repository-name>.cdn.prismic.io/api/v2
NG_APP_PRISMIC_ACCESS_TOKEN=<access-token>
NG_APP_PRISMIC_CUSTOM_TYPES_API_TOKEN=<custom-types-api-token>
